* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  color: #555;
  background-color: #f7f7f7;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.country-container {
  display: flex;
  font-size: 2rem;
  opacity: 0;
  transition: opacity 1s;
  justify-content: center !important;
}

.country {
  background-color: #fff;
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1.8rem;
  width: 30rem;
  border-radius: 0.7rem;
  margin: 0 3rem;
}

.country-img {
  width: 30rem;
  height: 17rem;
  object-fit: cover;
  background-color: #eee;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}

.country-card {
  padding: 2.5rem 3.75rem 3rem 3.75rem;
}

.country-name {
  font-size: 2.7rem;
  margin-bottom: 0.7rem;
}

.country-region {
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  color: #888;
}
.country-row:not(:last-child) {
  margin-bottom: 1rem;
}

.country-row span {
  margin-right: 2rem;
  font-size: 2rem;
}

.btn-country {
  border: none !important;
  font-size: 2rem !important;
  padding: 2rem 5rem !important;
  border-radius: 0.7rem !important;
  color: white !important;
}

.country-input {
  margin-left: 0.5rem;
  font-size: 2rem !important;
  padding: 2rem 5rem !important;
  border-radius: 0.7rem !important;
  color: black;
  border: solid 1px #6c757d;
  outline: none;
}

.fa-search-location {
  padding-right: 5px;
  font-size: 2rem;
}
